body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*nav 그리드*/
nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align : center;
}
nav ul li{
  display: inline;
}

/*시험 설정 부분 그리드*/
#set{
  margin: 10px;
  display: grid;
  gap: 2vw 1vw;
  grid-template-columns: 1fr 1fr;
}
#set button{
  grid-column: 1/3;
}
#test_head{
  display: grid;
  grid-template-columns: 60vw 1fr;
}
#set select{
  width: 17vw;
}
#test_head img{
  width: 60vw;
}