extends layout

block content
  div#test_head
    img#timer(src='/images/timer.png', alt='타이머이미지', width=600)
    #clock__hour 
    #clock__minutes
    #clock__seconds
    form#set 
      select(name='시간')
        option(value='none', selected, disabled, hidden) 시간선택 
        option(value=10) 10m
        option(value=20) 20m
        option(value=30) 30m
        option(value=40) 40m
        option(value=50) 50m
        option(value=60) 1h
        option(value=90) 1h30m
        option(value=120) 2h
      select(name='문제수')
        option(value='none', selected, disabled, hidden) 문제수
        option(value=5) 5개
        option(value=10) 10개
        option(value=15) 15개
        option(value=20) 20개
        option(value=25) 25개
        option(value=30) 30개
        option(value=35) 35개
        option(value=40) 40개
        option(value=45) 45개
        option(value=50) 50개
      select(name='시험방식')
        option(value='none', selected, disabled, hidden) 시험방식
        option(value='sp_m') 스펠링⇒의미
        option(value='m_sp') 의미⇒스펠링
        option(value='so_sp') 소리⇒스펠링
        option(value='so_m') 소리⇒의미
        option(value='so_sp,m') 소리⇒스펠링&amp;의미
      select(name='답입력시간')
        option(value='none', selected, disabled, hidden) 답입력시간
        option(value=10) 10s
        option(value=20) 20s
        option(value=30) 30s
        option(value=40) 40s
        option(value=50) 50s
        option(value=60) 1m
      button.btn(type='submit') START
  article
    .index-par
      h2 시험을 시작하기 전!
      ol 
        li 단어입력 창에서 단어들을 입력하고 제출합니다. 
        li 시험을 위한 시간, 문제수, 방식, 답입력시간을 정해줍니다.
          ul 
            li 시간: 시험에 주어지는 제한시간
            li 문제수: 답을 적어야 하는 문제 수
            li 시험방식: 주어지는 것⇒적어야 하는 답 식으로 선택 가능.
              br 
              |ex&#41; 스펠링⇒의미 'word'가 주어지고 학생은 '단어'를 적어야 합니다.
            li 답입력시간: 아래 시험방법에 적혀 있는 'check버튼'을 누르지 않을 수 있는 시간.
        li 모두 정한 후에는 START 버튼을 눌러줍니다.
    .index-par
      h2 시험 전 시험방법 숙지!
      ul 
        li 답을 입력하는 시간을 제외하고는 check가 써있는 사각버튼에 마우스를 올려두어야&#40;스마트폰의 경우 누르고 있어야&#41; 합니다.
        li check를 누르지 않은 상태가 답입력시간에서 정한 시간이 지나면 시험이 취소됩니다&#40;다른 사이트에 접속하는 것을 막기 위해서 입니다&#41;.
        li 단어입력단계에서 입력한 단어의 의미가 여러개일 경우, 하나만 써야 답으로 인정됩니다.
        li 불필요한 띄어쓰기는 채점에 혼동을 줄 수 있으니 주의해주세요.
  script(src="/javascripts/timer.js")
