@import './style.css';

/*시험 설정 부분 스타일*/
.btn{
    --bs-btn-color: white;
    background-color: var(--main-c);
  }
  select{
    cursor: pointer;
    color: var(--main-c);
    border-width: 2px;
    border-color: var(--main-c);
    border-radius: 2px;
  }
  #test_head #set button{
    box-shadow: 0px 3px 5px gray;
  }
  #test_head #timer{
    filter: drop-shadow(5px 5px 5px gray);
  }
  
  /*시험 설정 부분 그리드*/
  #set{
    margin: 10px;
    display: grid;
    gap: 2vw 1vw;
    grid-template-columns: 1fr 1fr;
  }
  #set button{
    grid-column: 1/3;
  }
  #test_head{
    display: grid;
    grid-template-columns: 60vw 1fr;
  }
  #set select{
    width: 17vw;
  }
  #test_head #timer{
    width: 60vw;
  }
  
  /*본문 스타일*/
  .index-par{
    margin: 8px;
    padding: 5px;
    border: 1px solid var(--main-c);
    border-radius: 3px;
    font-family: 'ChosunSm';
    font-size: 1.1rem;
  }
  .index-par h2{
    margin-bottom: 5px;
    padding: 5px;
  }
  .index-par h2::before{
    content: 'ο ';
    font-family: var(--bs-body-font-family);
  }
  
  /*시계 스타일*/
  #clock__hour, 
  #clock__minutes, 
  #clock__seconds {
    position: absolute;
    display: flex;
    justify-content: center;
    top: calc(115px + 8.8vw);
    left: 40.8vw;
  }
  
  #clock__hour::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 0.25vw;
    height: 2vw;
    border-radius: .75rem;
  }
  
  #clock__minutes::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 0.25vw;
    height: 3vw;
    border-radius: .75rem;
  }
  
  #clock__seconds::before {
    content: '';
    position: absolute;
    background-color: var(--main-c);
    width: 0.2vw;
    height: 3.5vw;
    border-radius: .75rem;
  }